<h1>Doctors</h2>
<hr />
<%#= link_to 'Add Doctor', new_doctor_path %>
<h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= link_to doctor.name, doctor_path(doctor) %>
    </li>
<% end %>
</ul>

